.heroSection{
    width: 100vw;
    height: fit-content;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.heroText{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: aquamarine;
}

.lachieText{
    color: black;
    font-size: 50px;

}

.playAnimation{
    width: 100vw;
    height: 80px;
    background-color: rgb(230, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}

.playButton{
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    background-color: #0dd10d;
    color: white;
    border: none;
    outline: none;
    border-radius: 50px;
}

.playButton:hover{
    background-color: #0cb10c;
    padding: 11px 21px;
}


/* CSS What I Can Do */
.battleTime{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

.girtByCSS {
    position: relative;
    background-color: aqua;
    width: fit-content;
    height: fit-content;
  }
  
  .iCantCssYou {
    cursor: pointer;
    padding: 10px 20px;
    background: #3498db;
    color: white;
    border: none;
    font-size: 16px;
    display: block;
    text-align: center;
  }
  
  .revealMyCsself {
    display: none;
    margin-top: 5px;
    gap: 10px;
  }
  
  .girtByCSS:hover .revealMyCsself {
    display: flex;
  }

.iCanCssYou {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 10px 15px; */
    /* transform: rotate(30deg); */
}

.iCanCssYou .linkedInPark {
    padding: 10px 15px;
    background: linear-gradient(135deg, #fffa65, #ffa600);
    border-radius: 25px;
    color: #2f0844;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

.iCanCssYou:hover .linkedInPark {
    /* background-color: #e6a5b0; */
    background-color: #26a5b0;
}

.iCanCssYou .linkedInPark i {
    display: inline-block;
    /* transform: rotate(-30deg); */
}

.iCanCssYou .hiMyNameIs {
    display: flex;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    line-height: 1px;
    margin-left: 5px;
    font-size: 12px;
}

.iCanCssYou:hover .hiMyNameIs {
    transform: translateY(0);
    pointer-events: auto;
    opacity: 1;
}

.linkedInPark i {
    display: inline-block !important;
    visibility: visible !important;
}

  /* UIVERSE */

  .tooltip-container {
    background: rgb(3, 169, 244);
    background: linear-gradient(
      138deg,
      rgba(3, 169, 244, 1) 15%,
      rgba(63, 180, 233, 1) 65%
    );
    position: relative;
    cursor: pointer;
    font-size: 17px;
    padding: 0.7em 0.7em;
    border-radius: 50px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  .tooltip-container:hover {
    background: #fff;
    transition: all 0.6s;
  }
  .tooltip-container .text {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #fff;
    transition: all 0.2s;
  }







  
  .nameIsCrckFx {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s, top 0.3s, background-color 0.3s;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .iCantCssYou:hover .nameIsCrckFx {
    top: 150%;
    opacity: 1;
    visibility: visible;
    background: #fff;
    border-radius: 50px;
    transform: translate(-50%, -5px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tooltip-container:hover .tooltip1:hover {
    background: #03a9f4;
  }




  .tooltip2 {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    fill: #0462df;
    padding: 10px;
    border-radius: 50px;
    transition: opacity 0.3s, visibility 0.3s, top 0.3s, background-color 0.3s;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .tooltip-container:hover .tooltip2 {
    top: -120%;
    opacity: 1;
    visibility: visible;
    background: #fff;
    transform: translate(-50%, -5px);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tooltip-container:hover .tooltip2:hover {
    background: #0462df;
  }

